.form {
    margin-top: 250px;
    margin-left: 600px;
    background: white;
    width: 400px;
    height: 200px;
    border-radius: 15%;
}

.title-login {
    text-align: center;
}

body {
    background-image: radial-gradient(circle at 100% -50.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
    background-repeat: no-repeat;
    height: 800px;
}

